In [ ]:
#Q1) Count the number of Non-NaN cells for each column
Given a DataFrame (with NaN values in one or more columns), you need to print the number of Non-NaN cells for each column.

In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame([["A", np.NaN], [np.NaN, 2],
                   ["C", np.NaN], ["D", 4]], 
                  columns=["col_A", "col_B"])

# Count non-NaN values in each column
non_nan_counts = df.count()

# Create the output DataFrame
output_df = pd.DataFrame({'Column': non_nan_counts.index, 'Count': non_nan_counts.values})

print(output_df)

  Column  Count
0  col_A      3
1  col_B      2

In [ ]:
Q2) Reverse DataFrame row-wise or column-wise
Assume that you have a DataFrame. Your task is to flip the entire DataFrame row-wise or column-wise.

In [8]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2], ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

col_reverse = df.iloc[:, ::-1] 

print(col_reverse)

   col_B col_A
0      1     A
1      2     B
2      3     C
3      4     D

In [ ]:
Assume you are given a DataFrame. Additionally, you have a list that specifies the order in which the columns should appear in the DataFrame. Given the list and the DataFrame, print the columns in the order specified in the list.

In [9]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

rearrange_order = [1, 0]  # Column 1 then Column 0

# rearranging the df
output_df = df[df.columns[rearrange_order]]

print(output_df)

   col_B col_A
0      1     A
1      2     B
2      3     C
3      4     D

In [ ]:
Q4) Get alternate rows of a DataFrame
Given a DataFrame, you need to print every alternate row starting from the first row of the DataFrame.

In [14]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

output_df = df.iloc[::2] # YOUR CODE HERE
print(output_df)
"""
	col_B	col_A
0	1	A
2	3	C
"""

  col_A  col_B
0     A      1
2     C      3

'\n\tcol_B\tcol_A\n0\t1\tA\n2\t3\tC\n'

In [ ]:
Q5) Insert a row at an arbitrary position
Insert a given list at a specific index of the DataFrame and reassign the indexes.

In [35]:
import pandas as pd

df = pd.DataFrame([["A", 1], ["B", 2], ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

insert_pos = 1
insert_row = ["P", 5]

df.loc[insert_pos-0.5] = insert_row   # YOUR CODE HERE
df.sort_index(inplace=True)
df.reset_index(inplace=True,drop = True)

df

  col_A  col_B
0     A      1
1     P      5
2     B      2
3     C      3
4     D      4

In [ ]:
"""
	col_A	col_B
0	A	1
1 	P 	5
2	B	2
3	C	3
4	D	4
"""

In [ ]:
Apply a given function to the entire DataFrame. The given DataFrame consists of just integer values. The task is to increase each entry by 1 through a function.

In [36]:
import pandas as pd

df = pd.DataFrame([[1, 5], [2, 6], [3, 7], [4, 8]], 
                  columns=["col_A", "col_B"])

def func(num):
    return num + 1
  
output_df = df.applymap(func)
print(output_df)

   col_A  col_B
0      2      6
1      3      7
2      4      8
3      5      9

In [ ]:
"""
	col_A	col_B
0	2	6
1	3	7
2	4	8
3	5	9
"""